*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.main-container{
    background-image:  linear-gradient(to right bottom,rgb(100, 65, 165,0.5),rgb(42, 8, 69,0.5)),
    url('img4.jpg');
    background-size: 100% 100%;
    height: 100vh;
    margin: 0px 10px;
    position: relative;
    
}
.header-nav a{
    float: right;
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.logo-box{
    left: 20px;
  top: 20px;
  position: absolute;
  animation: moveInLeft 1s ease-out;
}
.logo{
    height: 95px;
    width: 95px;
    border-radius: 95px ;
  
    background-color: rgb(167, 191, 232,1);
}
.text-box{
    position: absolute;
    top: 40%;
    left:45%;
    transform: translate(-40%,-50%);
    text-align: center;
}
.heading{
    
  text-transform: uppercase;
  
  
  
}

.heading-sub{
    display: block;
    padding: 20px;
    margin-top: 100px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
     width: 900px;

    font-size: 2.5rem;

    color:whitesmoke;
    
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft{
    0%{
         opacity: 0;
         transform: translateX(-100px);
    }
    80%{
         transform: translate(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight{
    0%{
       transform: translate(100px);
    }
    80%{
       transform: translate(-10px);
    }
    100%{
       transform: translate(0);
    }
}

.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none; 
    letter-spacing: 0.2em;
    font-family: "American Typewriter", serif;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    font-weight: bolder;
    transition: all .2s;
    position: relative;
    margin-top: 80px;
} 
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 20px 30px rgba(0,0, 0, 0.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0,0, 0, 0.2);
}
.btn-white{
    background-color: rgb(167, 191, 232,1);
    color: black;
   
}
.btn::after{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius:20px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
.btn:hover::after{
    transform: scale(2);
    opacity: 0;
}

/* ===============================================
            About Us Section Styling
   =============================================== */

   .about {
    margin: 0px 10px 0px;
    height: 90vh;
    padding: 50px 5px 10px 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    float: right;
    background-color: #A7BFE8;
  }
  
  .text-container {
    background-color:whitesmoke;
    color: #302b63;
  height: max-content;
  padding: 20px 70px;
  width: 55%;
  border-radius: 5px;
  margin-top: 120px;
  margin-left: 38%;
  }
  
  .text-container.section-title {
    padding-left: 30px;
  }
  
  .text-container p {
    width: 100%;
    padding: 20px 10px 20px 30px;
    line-height: 1.8;
  font-size: 18px;
   
  }
  
  .text-container span {
    padding-left: 30px;
    
  }
  
  .img-wrapper {
    margin-left: 10%;
    margin-top: 35px;
    background-color: blue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    width: 30%;
    height: 68%;
    position: absolute;
  }
  .view-more{
      color:#302b63;
  }
  
  .img-wrapper img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  .section-title {
    width: 40%;
    font-family: 'Patua One', sans-serif;
    letter-spacing: 4px;
    font-size: 50px;
    color: var(--dark-green);
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(1);
  }
  

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background-color: #302b63;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 20px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color: whitesmoke;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  whitesmoke;
}

/* Footer links */

.footer-distributed .footer-links{
	color:whitesmoke;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  whitesmoke;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #302b63;
	color: whitesmoke;
	font-size: 30px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: whitesmoke;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:19px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  whitesmoke;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: whitesmoke;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  whitesmoke;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  whitesmoke;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #302b63;
	border-radius: 2px;

	font-size: 20px;
	color: whitesmoke;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
